/* color scheme */
/* 
Primary colors:
Midnight Blue - #003B6D
Blue Sky- #6699CC

Secondary colors:
Dim gray - #676767
Silver- #BDBDBD 
*/

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
li {
  color: #003b6d;
}
p {
  color: #676767;
  font-weight: 600;
}
.btn-primary {
  background-color: #fbd010;
  border: none;
  color: #676767;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  /* uppercase */
  text-transform: uppercase;
  display: inline-block;
  font-size: 2empx;
  font-weight: 600;
  margin: 30px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
}

.logo2 {
  width: 80%;
  margin-top: -10px !important;
  margin-bottom: -15px !important;
}
.btn-info {
  background-color: #fbd010;
  border: none;
  color: #676767;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  /* uppercase */
  text-transform: uppercase;
  display: inline-block;
  font-size: 2empx; 
  font-weight: 600;
  margin: 30px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
}
.btn-search {
  background-color: #fbd010;
  border: none;
  color: #676767;
  text-align: center;
  text-decoration: none;
  /* uppercase */
  text-transform: uppercase;
  display: inline-block;
  font-size: 2empx;
  font-weight: 600;
  margin: 3px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
}
.btn:hover {
  background-color: rgb(255, 208, 0);
  color: #545454;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.003);
  /* ease in and hout*/

  transition: ease-in-out 0.1s;
}
.border {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.text-dark:hover {
  color: #003b6d!important;
}
.border2 {
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px rgba(63, 76, 95, 0.2);
  margin-bottom: 7px;
  padding: 7px;
  background-color: #466bb5;
}
.bg {
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

/* nav stuff */
.secondary-nav {
  display: none; /* Initially hide the secondary nav */
  position: absolute;
  font-size: smaller;
  background-color: transparent;
  border-radius: 5px;
  z-index: 1;
  padding: 0;
  list-style-type: none;
}

.nav-item:hover .secondary-nav {
  display: block; /* Show secondary nav on hover */
}
.active {
  color: #003b6d;
  margin-bottom: -2px;
}

.active::after {
  /* line under */
  content: "";
  display: block;
  width: 50;
  height: 2px;
  background: rgb(255, 208, 0);
  transition: width 0.3s;
}

.nav-item:hover {
  color: #003b6d !important;
}


.nav-item:hover {
  margin-top: -5px;
  color: #003b6d !important;
  font-size: larger;
}

ul a {
  text-decoration: none;
  color: #818080
}

ul a:hover {
  text-decoration: none;
  color: #003b6d!important;
}

/* home */

#home h1 {
  /* highlight the background */
  background: linear-gradient(90deg, #122230, #6699cc);
  color: #fff;
}

#home h5 {
  margin-bottom: 20px;
  font-size: 2em;
  font-size: 1.55em;
  margin-bottom: 20px;
  color: #003b6d;
}

#home h3 {
  font-size: 1.55em;
  color: #003b6d;
}

#home h4 {
  font-size: 2.25em;
  color: #003b6d;
}

.history {
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

ol {
  /* center ol */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.img-visit {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pursue {
  max-width: 800px;
}

.resource-list {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #000;
}
.resource-link {
  background-color: #6699cc;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 8px;
  width: 80%;
}
.resource-link:hover {
  background-color: #bdbdbd;
}
.resource-link a {
  color: #fff !important;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
}

/* animal sections */
.relative {
  position: relative;
  width: 100%;
}
.absolute {
  position: absolute;
  top: 20%;
  right: 4%;
  width: 5%;
  text-align: center;
  padding-top: 20%;
}

.absolutePhil {
  position: absolute;
  top: 38%;
  right: 4%;
  width: 5%;
  text-align: center;
  padding-top: 20%;
}
.absolutePit {
  position: absolute;
  top: 36%;
  right: 4%;
  width: 5%;
  text-align: center;
  padding-top: 20%;
}
.floatLeft {
  float: left;
  margin-left: 50px;
}

.floatRight {
  float: right;
  margin-right: 50px;
  max-width: 50%;
}

.container {
  overflow: hidden;
}
.container2 {
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-top: 20px;
  background-color: #fdfdfd;
}

.max250 {
  max-height: 250px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#small li {
  margin-bottom: 4px;
  font-size: 1.2em;
  color: #003b6d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 2px 0 rgba(125, 125, 125, 0.1);
}
#small li:hover {
  text-decoration: none;
  color: #6699cc;
  background-color: #bdbdbd;
}
#fish li {
  margin-bottom: 4px;
  font-size: 1.2em;
  color: #003b6d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 2px 0 rgba(125, 125, 125, 0.1);
}
#fish li:hover {
  text-decoration: none;
  color: #6699cc;
  background-color: #bdbdbd;
}
#salt li {
  margin-bottom: 4px;
  font-size: 1.2em;
  color: #003b6d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 2px 0 rgba(125, 125, 125, 0.1);
}
#fresh li {
  margin-bottom: 4px;
  font-size: 1.2em;
  color: #003b6d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 2px 0 rgba(125, 125, 125, 0.1);
}
.info li:hover {
  text-decoration: none;
  color: #6699cc;
  background-color: #bdbdbd;
}
.btn-fish {
  background-color: #6699cc;
  border: none;
  color: #171717;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  /* uppercase */
  text-transform: uppercase;
  display: inline-block;
  font-size: 2empx;
  font-weight: 600;
  margin: 30px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#adopt li {
  margin-bottom: 4px;
  font-size: 1.2em;
  color: #003b6d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 2px 0 rgba(125, 125, 125, 0.1);
}
#adopt li:hover {
  text-decoration: none;
  color: #6699cc;
  background-color: #bdbdbd;
}

/* media query monbile */
@media (max-width: 900px) {
  .floatLeft {
    float: none;
  }
  .floatRight {
    float: none;
    margin-right: 0;
    max-width: 100%;
  }
  .mobileRemove {
    display: none;
  }
  .mobileAdd {
    display: block;
    margin: 0 auto;
  }

  .pursue {
    max-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .pursue {
    max-width: 350px;
  }
}
/* contact section */
#contact {
  background: #fcfcfc;
}

#contact h2,
h3 {
  color: #003b6d;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.envelope {
  width: 30px;
  max-width: 100px !important;
  margin: 0 auto;
  margin-bottom: 10px;
}

thead {
  background-color: #f8f9fa;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* footer */
a {
  color: #404040;
}
/* utility */

.half {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.hide {
  display: none !important;
}
/* animation make image exit top of screen on click */
@keyframes exitTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.exitTop {
  animation: exitTop 0.5s forwards;
}

.enabled {
  display: block;
}

.disableMe {
  display: none;
}
.logo {
  margin-left: 50px !important;
}
.logo:hover {
  /* spin animation */
  animation: spin 2s infinite !important;
}
.paws {
  margin: 0 auto;
  margin-bottom: 4px;
}
#contact section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

strong {
  color: #6699cc; /* Matching the header */
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
}
/* FAQ */
.faq-container {
  max-width: 800px;
  margin: auto;
}

.faq-item {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.faq-item:hover {
  background-color: #f8f9fa;
}
.faq-question {
  margin: 0;
  color: #6699cc;
  font-weight: 500;
}

.faq-answer {
  display: none;
  margin-top: 20px;
  color: #333;
}

.carousel img {
  max-height: 300px;
  max-width: 100%;
  border-radius: 5px;
}
/* cats */
#cats li {
  margin-bottom: 2px;
  font-size: 1.2em;
  color: #003b6d;
}
.breeds {
  background: linear-gradient(to bottom, #ffffff, #f3f3f3);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e0e0;
}
.care {
  margin-top: 10px;
  background-color: #6699cc;
  width: 300px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 1.1em;
}

#catCare li {
  margin-bottom: 2px;
  font-size: 1.2em;
  color: #003b6d;
  list-style-type: disc;
}
.btn-care {
  background-color: #dcdcdc;
  border: none;
  color: #676767;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  /* uppercase */
  text-transform: uppercase;
  display: inline-block;
  font-size: 2empx;
  font-weight: 600;
  margin: 30px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Responsive typography */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    margin-left: 0px !important;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
